<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" class="form-edit-recipe" (ngSubmit)="onSubmit()">
      <div class="row mb-10 form-btn">
        <div class="col-xs-12">
          <div class="col-xs-6">
            <button
              type="submit"
              class="mr-5 btn btn-success"
              [disabled]="!recipeForm.valid"
            >
              <i class="fa fa-check"></i> Save
            </button>
          </div>
          <div class="col-xs-6 text-right">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >
              <i class="fa fa-ban"></i> Cancel
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="text-bold">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive" alt="Recipe Image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="5"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of getControls(); let i = index"
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="col-xs-2 mb-10">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2 text-right">
              <button type="number" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="row mt-10">
            <div class="col-xs-12 text-center">
              <button
                class="btn btn-primary"
                (click)="onAddIngredient()"
                type="button"
              >
                <i class="fa fa-plus"></i>
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
